@tailwind base;
@tailwind components;
@tailwind utilities;

$header-height: 60px;
$scrollbar-width: 12px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

h1 {
  // font-size: 24px;
  // font-weight: 500;
  width: 120px;
  margin: 10px;
  margin-bottom: 20px;

}

ul {
  list-style: none;
}

.\left-1\/5 {
  left: 20%;
}
