@tailwind base;
@tailwind components;
@tailwind utilities;

$header-height: 60px;
$scrollbar-width: 12px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 5px;
}

ul {
  list-style: none;
}

.\left-1\/5 {
  left: 20%;
}
